header {
  display: grid;
  grid-template: 1fr / auto auto auto;
  width: 100vw;
  height: 7vh;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-left: clamp(14px, 2vw, 30px);
  align-items: center;
  background-color: var(--primary);
}

#logo-container {
  display: flex;
  width: fit-content;
}

#logo-container svg {
  width: 2.5vh;
}

.reservation-counter {
  color: #fafafa;
  font-size: clamp(12px, 1.5vw, 16px);
  font-family: inherit;
  font-weight: 500;
  margin-left: 20px;
}
