#hero-container {
  box-sizing: border-box;
  display: grid;
  grid-template: min-content 1fr 20% / 100%;
  height: calc(100dvh - var(--header-height));
  padding: min(4dvh, 65px) 10%;
  justify-items: center;
  container-type: inline-size;
  background-color: #FAFAFA;
}

#hero-container > * {
  min-height: 0;
}

@media (max-aspect-ratio: 390 / 816) {

  #hero-container {
    max-height: 757px;
  }
}

h1 {
  font-size: clamp(26px, 10cqi, 60px);
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}


#hero-img {
  margin: auto;
  aspect-ratio: 61 / 71;
  height: 78%;
  width: auto;
  padding: min(7%, 10px) 0;
}

h2 {
  font-size: clamp(19px, 5.5cqi, 23px);
  text-align: center;
  margin: auto;
}

@media(min-width: 1024px) {

  h2 {
    font-size: clamp(19px, 5.5cqi, 31px);
  }
  
  br {
    display: none;
  }

}